{% extends 'base.html.twig' %}

{% block title %}Hello CourtController!{% endblock %}

{% block body %}


    {% for court in courts %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><i class="login fas fa-basketball-ball fa-lg"></i> {{ court.name }}</h5>
            <p class="card-text"><i class=" login fas fa-building fa-lg"></i> {{ court.town }} | {{ court.address }}</p>
        </div>
        <div>
        <img class="card-img" src="uploads/{{ court.picture }}" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="comment-title">Commentaires</h5>


            {% for comment in court.comments %}
            <div class="comment">

                <b>#{{ comment.user.realUsername }}</b><p class="text-muted">
                    posté le {{ comment.createdAt | date("m/d/Y à H:i") }}</p>

                <p class="card-text">  <em>"{{ comment.comment }}"</em></p>
            </div>
            {% endfor %}
            <form method="POST" action="{{ path('court_addcomm', {court: court.id} ) }}">
                <div class="row mt-3 ml-3 text-muted">
                    <label for="{{ court.id }}">Poste ton commentaire :</label>

                    <div class="col-md-12 " style="display: flex; flex-direction: column; justify-items: center; align-items: center">
                        <textarea type="text" name="{{ court.id }}" style="min-width: 300px; min-height: 70px; border: 0.7px solid #B0A6A6; border-radius: 7px; box-sizing: border-box; box-shadow: 0 0 0; margin-top: 5px;"></textarea>
                        <button type="submit" class="btn btn-light shadow text-center mt-3" style="width: 300px; border-radius: 30px; border: 0.5px Solid #B0A6A6">Envoie ton commentaire</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}

{% endblock %}
